body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

body {
  background: #fff;
}

.input-field input[type='date']:focus + label,
.input-field input[type='text']:focus + label,
.input-field input[type='email']:focus + label,
.input-field input[type='password']:focus + label {
  color: #e91e63;
}

.input-field input[type='date']:focus,
.input-field input[type='text']:focus,
.input-field input[type='email']:focus,
.input-field input[type='password']:focus {
  border-bottom: 2px solid #e91e63;
  box-shadow: none;
}

.form-style {
  width: 60%;
  padding: 32px 40px 0px 40px;
  border: 1px solid #eee;
}

.preview-obj {
  width: 180px;
  height: 180px;
  border-radius: 50%;
}

.my-upload {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.my-error-p {
  width: 200px;
}

.my-fileBtn {
  width: 70%;
}

.my-btn {
  margin-bottom: 20px;
}

.hide {
  display: none;
}

.my-anchors {
  margin: 10px;
  transition: 0.3s;
}
.my-anchors:hover {
  color: rgb(42, 42, 134);
}

@media only screen and (max-width: 800px) {
  .preview-obj {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
  .form-style {
    width: 80%;
    padding: 32px 10px 0px 10px;
    border: 1px solid #eee;
  }
}
