/* The Modal (background) */
.videoModal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  margin-top: 10px;
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.play-icon:hover {
  cursor: pointer;
}

/* The Close Button */
.close {
  margin-top: 10px;
  color: rgb(255, 172, 62);
  float: right;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: rgb(255, 203, 134);
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
}

iframe {
  height: 600px;
}

.whitish {
  background-color: rgba(167, 167, 167, 0.4);
}

.my-bg {
  background-color: #f7f7fc;
  opacity: 1;
  background-image: radial-gradient(#f6ba42 1.05px, transparent 1.05px),
    radial-gradient(#f6ba42 1.05px, #f7f7fc 1.05px);
  background-size: 42px 42px;
  background-position: 0 0, 21px 21px;
  z-index: -1;
  padding-top: 60px;
}
.my-input-field {
  height: 50px;
  margin: 0;
}

.card .my-card-content h3 {
  margin: 0px;
}
.card .my-card-content {
  padding: 0px;
  margin-top: 10px;
}

.card .my-video-title {
  font-size: 25px;
  margin-left: 5px !important;
}

.card .card-image img {
  width: 300px !important;
  height: 200px;
}

.card .my-card-action {
  padding: 0px;
  display: flex;
  justify-content: space-around;
  width: 70%;
}

.my-view-length {
  display: flex;
  flex-wrap: wrap;
}

.my-height {
  margin-left: 20px !important;
  margin-top: 10px !important;
  font-size: 17px;
}

.my-play-icon {
  font-size: 50px;
}

.character-counter {
  display: none;
}

.hidden {
  display: none;
}

@media only screen and (max-width: 900px) {
  iframe {
    height: 400px;
  }
}

@media only screen and (max-width: 820px) {
  h3 {
    font-size: 2.2rem;
  }

  .card .my-video-title {
    font-size: 15px;
  }
  .my-play-icon {
    font-size: 35px;
  }
  .my-search-bar-responsive {
    width: 80% !important;
  }

  .card .card-image img {
    width: 150px !important;
    height: 100px;
  }

  .card .my-card-action {
    width: 100%;
  }
  .my-height {
    margin: 0px !important;

    font-size: 10px !important;
  }
}
