/* Just showing the grid class
.row > div {
  padding: 10px;
  line-height: 60px;
} */

.my-transparentBG {
  background-color: rgba(0, 0, 0, 0.3);
}

.my-found-title {
  font-family: Pacifico, sans-serif;
}

.my-filter {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 2 !important;
}
a .my-icon {
  z-index: 1;
}

div.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: 1;
}

.no-recipes {
  width: 400px;
  height: 300px;
  background-image: url('../pics/no-image.png');
  background-repeat: no-repeat;
  background-size: 400px 300px;
}

.no-recipes-hidden {
  display: none;
}

.my-new-recipes {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* +++++++++++++MODAL +++++++++++++*/
/* The Modal (background) */
.myModal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  margin-top: 10px;
  padding: 20px;
  border: 1px solid #888;
  width: 70%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
/* .my-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.my-modal-close:hover,
.my-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
} */

/* ++++++++++++MODAL END++++++++++++++ */

.my-action {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 30px;
}

.my-add-ing-btn {
  z-index: 1;
}

.my-add-ing-btn:hover {
  cursor: pointer;
}

.my-right-align {
  margin-left: 95%;
}

.col-Div {
  position: relative;
  height: 500px;
}

.overlay-favorite {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 98%;
  height: 95%;
  background-color: rgba(216, 97, 0, 0.6);
}

.saved-recipe {
  color: white;
  margin-top: 100px;
}

@media only screen and (max-width: 990px) {
  .col-Div {
    height: auto;
  }
  .overlay-favorite {
    height: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .my-filter {
    display: flex;
    width: 100% !important;
    padding: 0px !important;
  }
  .my-filter h5,
  .my-filter input,
  .my-filter span {
    font-size: 14px !important;
  }
  .my-filter span {
    padding-left: 21px !important;
  }

  .my-flex-responsive {
    display: flex;
    flex-direction: column;
  }

  .my-new-recipes {
    align-self: flex-end;
    width: 30px;
    margin-right: 10px;
    padding-left: 0px !important;
  }
  .no-padding {
    padding: 0px !important;
  }
}

.my-hide-card {
  display: none;
}
