/* Just showing the grid class
.row > div {
  padding: 10px;
  line-height: 60px;
} */

.my-transparentBG {
  background-color: rgba(0, 0, 0, 0.3);
}

.my-found-title {
  font-family: Pacifico, sans-serif;
}

.my-filter {
  border-radius: 10px;
}

div.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

.my-new-recipes {
  margin-top: 20px;
  margin-bottom: 20px;
}

.my-action {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 30px;
}

.my-add-ing-btn:hover {
  cursor: pointer;
}

.my-right-align {
  margin-left: 95%;
}

.col-Div {
  position: relative;
  height: 500px;
}

.overlay-favorite {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 98%;
  height: 95%;
  background-color: rgba(216, 97, 0, 0.6);
}

.saved-recipe {
  color: white;
  margin-top: 100px;
}

@media only screen and (max-width: 990px) {
  .col-Div {
    height: auto;
  }
  .overlay-favorite {
    height: 100%;
  }
}

.my-hide-card {
  display: none;
}
