html {
  scroll-behavior: smooth;
}
.my-transparentBG {
  background-color: rgba(0, 0, 0, 0);
}

.delete-modal-a {
  display: flex;
  justify-content: space-around;
}

.my-right-align {
  margin-left: 95%;
}

.my-action {
  display: flex;
  justify-content: center;
  align-items: center;
}
